
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

.mat-checkbox-layout {
  white-space: normal !important;
  width: 100%;
  align-content: start;
}
.mat-checkbox-label{
  width: inherit;
}
.mat-card-header-text{
  width: 100%
}
